<app-header></app-header>

<div class="container">
    <div class="intro-section">
        <h1>Đây là trang home</h1>
        <p>Trang này hiển thị danh sách các sản phẩm kèm ảnh</p>
        <p>Các bạn có thể chọn xem sản phẩm và mua hàng tại đây</p>

        <div class="search-box">
            <input type="text" class="form-control search-input" placeholder="Tìm sản phẩm" [(ngModel)]="keyword">
            <select name="" id="" class="form-control product-category" [(ngModel)]="selectedCategory">
                <!-- <option value="" selected disabled>Danh mục sản phẩm</option> -->
                <option [ngValue]="0">Tất cả</option>
                @for(category of categories; track category.id){
                <option [ngValue]="category.id">{{category.name}}</option>
                }
            </select>
            <button class="btn btn-primary" (click)="searchProduct()">Tìm kiếm</button>
        </div>
    </div>

    <div class="row">
        @for(product of products; track product.thumbnail){
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img [src]="product.url" [alt]="product.name" class="product-image">
                <p class="product-name">Name: {{product.name}}</p>
                <p class="product-description">Description: {{product.description}}</p>
                <p class="product-price">Price: {{product.price| currencyPipe}}</p>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        }
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @if(currentPage > 1){
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Fisrt" (click)="onPageChange(1)">
                    Fisrt
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous" (click)="onPageChange(currentPage - 1)">
                    Previous
                </a>
            </li>
            }
            <ng-container>
                @for(page of visiblePages; track page.valueOf()){
                <li class="page-item" [ngClass]="{'active': page === currentPage}">
                    <a class="page-link" href="#" aria-label="Previous" (click)="onPageChange(page)">
                        {{page}}
                    </a>
                </li>
                }
            </ng-container>
            <!-- <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li> -->
            @if(currentPage < totalPages){ <li class="page-item">
                <a class="page-link" href="#" aria-label="Next" (click)="onPageChange(currentPage + 1)">
                    Next
                </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next" (click)="onPageChange(totalPages)">
                        Last
                    </a>
                </li>
                }
        </ul>
    </nav>
</div>

<app-footer></app-footer>